.navbar{
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    background-color: blue;
}

.nav{
    margin-left: 800px;
    display: flex;
}
.nav1{
    padding: 20px;
}

.title{
    /*background-color: aqua;*/
    display: flex;

 
}

.introduction{
    width: 400px;
   
}

.profile-pic {
    left: 500em;
    width: 500px;
    padding-top: 20px;
    padding-left: 500px;
}

.body{
    
    padding: 50px;
}

.projects{
    display: flex;
}